@page "/MaterialType"
@using IndoorDesign.backend.application
@using IndoorDesign.backend.application.dto
<h3>MaterialType</h3>
<MudDialog @bind-Visible="_editOpen">
    
</MudDialog>
<MudTreeView @bind-SelectedValues="">
    <MudTreeNode>
        
    </MudTreeNode>
</MudTreeView>

@inject IMaterialTypeApplication MaterialTypeApplication;
@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _materialTypes = MaterialTypeApplication.ListAllRootType();
    }

    private bool _editOpen = false;
    private List<MaterialTypeDto> _materialTypes = [];
    
}