@page "/MaterialType"
@using IndoorDesign.backend.application
@using IndoorDesign.backend.application.dto
<h3>MaterialType</h3>

<MudDialog @bind-Visible="_editOpen">
    
</MudDialog>
<MudTreeView>
    <ItemTemplate>
        @{
            TreeItemData<MaterialTypeDto> node = context;
            
        }
        <MudTreeViewItem Text="@node.Value.TypeName" @onclick="@() => LoadChildren(node)">
            
        </MudTreeViewItem>
    </ItemTemplate>
</MudTreeView>

@inject IMaterialTypeApplication MaterialTypeApplication;
@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _initialMaterialTypes = MaterialTypeApplication.ListAllRootType();
    }

    private bool _editOpen = false;
    private List<MaterialTypeDto> _initialMaterialTypes = [];

    private string _code = "";
    private string _name = "";
    private int _selectedItemId = 0;

    private void LoadChildren(TreeItemData<MaterialTypeDto> item)
    {
        if (null == item.Value)
        {
            return;
        }
        var parentId = item.Value.Id;
        var children = MaterialTypeApplication.ListChildrenType(parentId);
        item.Value.Children = children;
        item.Expandable = children.Count > 0;
    }
    
}