@page "/MaterialType"
@using IndoorDesign.backend.application
@using IndoorDesign.backend.application.dto
<h3>MaterialType</h3>
<MudDialog @bind-Visible="_editOpen">
    
</MudDialog>
<MudTreeView >
    @foreach (var item in _initialMaterialTypes)
    {
        
    }
</MudTreeView>

@inject IMaterialTypeApplication MaterialTypeApplication;
@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _initialMaterialTypes = MaterialTypeApplication.ListAllRootType();
    }

    private bool _editOpen = false;
    private List<MaterialTypeDto> _initialMaterialTypes = [];

    private string _code = "";
    private string _name = "";
    private int _selectedItemId = 0;

    public async Task<IReadOnlyCollection<TreeItemData<MaterialTypeDto>>> LoadChildren(MudTreeViewItem<MaterialTypeDto> item)
    {
        if (item.Value != null)
        {
            var parentId = item.Value.Id;
            var children = await MaterialTypeApplication.ListChildrenType(parentId);
            
        }
    }
    
}